In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/adresses-63.csv', sep=';')
df.head()

,id,id_fantoir,numero,rep,nom_voie,code_postal,code_insee,nom_commune,code_insee_ancienne_commune,nom_ancienne_commune,x,y,lon,lat,alias,nom_ld,libelle_acheminement,nom_afnor,source_position,source_nom_voie
0,63004_pybw0g_00001,NaN,1,NaN,Allee des Sports,63770,63004,Les Ancizes-Comps,NaN,NaN,685741.77,6536059.86,2.816022,45.924083,NaN,NaN,LES ANCIZES COMPS,ALLEE DES SPORTS,inconnue,inconnue
1,63004_pybw0g_00002,NaN,2,NaN,Allee des Sports,63770,63004,Les Ancizes-Comps,NaN,NaN,685734.60,6536175.26,2.815926,45.925122,NaN,NaN,LES ANCIZES COMPS,ALLEE DES SPORTS,inconnue,inconnue
2,63004_pybw0g_00003,NaN,3,NaN,Allee des Sports,63770,63004,Les Ancizes-Comps,NaN,NaN,685670.82,6536009.27,2.815108,45.923626,NaN,NaN,LES ANCIZES COMPS,ALLEE DES SPORTS,inconnue,inconnue
3,63004_pybw0g_00004,NaN,4,NaN,Allee des Sports,63770,63004,Les Ancizes-Comps,NaN,NaN,685739.12,6536151.48,2.815985,45.924908,NaN,NaN,LES ANCIZES COMPS,ALLEE DES SPORTS,inconnue,inconnue
4,63004_pybw0g_00005,NaN,5,NaN,Allee des Sports,63770,63004,Les Ancizes-Comps,NaN,NaN,685645.69,6536003.78,2.814784,45.923576,NaN,NaN,LES ANCIZES COMPS,ALLEE DES SPORTS,inconnue,inconnue

In [14]:
dup = df.id.duplicated()